
<!-- Redes Sociais -->
<div class="p-4 mb-3 bg-body-tertiary rounded">
  
    <h4 class="fst-italic">Acompanhe nas Redes Sociais</h4>
  
    <div class="row g-2">
      <div class="col-4">
        <a href="https://www.facebook.com/comofazerinformatica/" target="_blank" class="bg-primary-subtle rounded text-center text-white-force p-3 d-block">
          <i class="fab fa-facebook-square fs-6 mb-2"></i>
          <h6 class="m-0">1K</h6>
          <span class="small">seguidores</span>
        </a>
      </div>
      
      
      <div class="col-4">
        <a href="https://www.instagram.com/como_fazer_informatica/" target="_blank" class="bg-primary-subtle rounded text-center text-white-force p-3 d-block">
          <i class="fab fa-instagram fs-5 mb-2"></i>
          <h6 class="m-0">1K</h6>
          <span class="small">seguidores</span>
        </a>
      </div>
      
      
      <div class="col-4">
        <a href="https://www.youtube.com/@sitecomofazerinformatica" target="_blank" class="bg-primary-subtle rounded text-center text-white-force p-3 d-block">
          <i class="fab fa-youtube-square fs-5 mb-2"></i>
          <h6 class="m-0">1K</h6>
          <span class="small">inscritos</span>
        </a>
      </div>
    </div>
    

    <!--
    <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
-->
  </div>
</div>
